{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}

    <img src="{{ asset('upload/coverImages/' ~ book.coverPath) }}" alt="Capa" style="max-width: 400px">

    <div class="d-flex mt-3">
        <a href="{{ path('app_book_edit', {'id': book.id}) }}" class="btn btn-warning me-2">Editar</a>
        {{ include('book/_delete_form.html.twig') }}
        <a href="{{ path('app_book_index') }}" class="btn btn-secondary mx-2">Voltar</a>
    </div>

{% endblock %}
